{%extends "base.html" %} {% block body %}
<h1>All Employee Data</h1>

<button
	type="button"
	class="btn btn-success float-right"
	data-toggle="modal"
	data-target="#myModal"
>
	Add New Employee
</button>

<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Add Employee</h4>
			</div>
			<div class="modal-body">
				<form action="{{url_for('insert')}}" method="POST">
					<div class="form-group">
						<label>Name:</label>
						<input
							type="text"
							class="form-control"
							name="name"
							required="1"
						/>
					</div>

					<div class="form-group">
						<label>Email:</label>
						<input
							type="email"
							class="form-control"
							name="email"
							required="1"
						/>
					</div>

					<div class="form-group">
						<button class="btn btn-primary" type="submit">
							Add Employee
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<table class="table table-hover table-light">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Email</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		{% for employee in employees %}
		<tr>
			<td>{{ employee.id }}</td>
			<td>{{ employee.name }}</td>
			<td>{{ employee.email }}</td>

			<td>
				<a
					href="/update/{{employee.id}}"
					class="btn btn-warning btn-xs"
					data-toggle="modal"
					data-target="#modaledit{{employee.id}}"
					>Edit</a
				>
				<a
					href="/delete/{{employee.id}}"
					class="btn btn-danger btn-xs"
					onclick="return confirm('Are You Sure To Delete ?');"
					>Delete</a
				>
			</td>
		</tr>
		<div id="modaledit{{employee.id}}" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Update Information</h4>
					</div>

					<div class="modal-body">
						<form action="/update/{{employee.id}}" method="POST">
							<div class="form-group">
								<label>Name:</label>
								<input
									type="hidden"
									name="id"
									value="{{employee.id}}"
								/>
								<input
									type="text"
									class="form-control"
									name="name"
									value="{{employee.name}}"
								/>
							</div>

							<div class="form-group">
								<label>Email:</label>
								<input
									type="email"
									class="form-control"
									name="email"
									value="{{employee.email}}"
								/>
							</div>

							<div class="form-group">
								<button class="btn btn-primary" type="submit">
									Update
								</button>
							</div>
						</form>
					</div>

					<div class="modal-footer">
						<button
							type="button"
							class="btn btn-secondary"
							data-dismiss="modal"
						>
							Close
						</button>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</tbody>
</table>

{% endblock body%}
